CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
CLOUDINARY_NAME=your_cloudinary_name
COOKIE_EXPIRE=7d
DB_URI=your_database_connection_uri
JWT_EXPIRE=7d
JWT_SECRET=your_jwt_secret
SMPT_FROM=your_email@example.com
SMPT_HOST=your_smtp_host
SMPT_MAIL=your_email@example.com
SMPT_PASSWORD=your_smtp_password
SMPT_PORT=587
SMPT_SERVICE=gmail
STRIPE_API_KEY=your_stripe_public_key
STRIPE_SECRET_KEY=your_stripe_secret_key